<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>À propos de l'université TALAN</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
    	
    	
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      
      if ( document.location.href.indexOf('#group') > -1 ) {
        $('section#group').show();
        $('#about-menu a.group').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else if ( document.location.href.indexOf('#partenaire') > -1 ) {
        $('section#partenaire').show();
        $('#about-menu a.partenaire').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      }); 
      
      $(".nav-global-01 li a").click(function(event) {
      	
      	event.preventDefault();
      	var href = $(this).attr('href');
      	var split = href.split("#"); 
      	afterSplit = split[1];
      	
        $('#about-menu a').removeClass('active');
        $("#about-menu a[href='#"+afterSplit+"']").addClass('active');
        var clickId = "section"+"#"+afterSplit;
        $('section.message').hide();
        $(clickId).show();
      }); 
      
           
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">L'université TALAN</a>
    <a href="#group" class="group">Le groupe TALAN</a>
    <a href="#partenaire" class="partenaire">Les partenaires</a>
    <a href="#contact" class="contact">Contact</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/quad.jpg')}" alt="Stanford Quad with Hoover Tower" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>l'université Talan</h2>
        
        <p>Les nouvelles technologies autorisent des approches pédagogiques innovantes qui permettent d’apporter une expérience de l’apprenant plus riche, plus humaine et plus efficace.</p>
        
        <p>L’Université Talan, une initiative du groupe <a href="http://www.talan.com" target="_blank">TALAN SA</a>, s’inscrit dans cette logique.
        </p>
        
        <p>
        Chez TALAN, nous avons à cœur de servir au plus prêt l’intérêt de nos clients. Pour le faire au mieux, il est crucial pour nous, <b>d’enrichir et faire progresser régulièrement nos méthodes de travail et nos compétences</b>. 
        </p>
        
        <p>
        Ainsi, dans un environnement hautement concurrentiel (la guerre des talents), les enjeux pour le Groupe TALAN sont d’assurer une <b>marque forte</b>, (être attirant) et une <b>optimisation du capital humain</b>(développer et fidéliser notre principal asset) par :
        <ul>
        	<li><b>le RECRUTEMENT</b> : en attirant les meilleurs talents dans tous les marchés où nos clients sont présents</li>
        	<li><b>la FORMATION</b> : en développant les compétences de nos collaborateurs de <b>façon continue</b> via des <b>programmes communs</b> pour s’assurer d’avoir à la fois l’expertise technique (en partageant notamment le même langage) et les compétences managériales (avec une même identité́),afin de se démarquer dans un environnement hautement concurrentiel</li>
		<li><b>la FIDELISATION et l’ANIMATION de la communauté TALAN</b> : 
			<ul>
				<li>animation et le management du capital humain (plan de carrière et de progrès, rémunérations, mobilité interne, etc.)</li>
				<li>partage d’une culture et des valeurs communes notamment, <b>l’engagement</b>, la <b>collaboration</b> et <b>l’innovation</b></li>
			</ul>
		</li>
        </ul>
         </p>
         <p>
         Le groupe TALAN, en continuité avec ses investissements dans la recherche d’excellence, de qualité et de réponses appropriées aux besoins de ses clients, a demandé à sa direction de l’innovation :
         <ul>
           <li>
         de mettre en place une <b>Université Digitale</b> porteuse de valeurs chères à TALAN (l’excellence de ces consultants, l’efficacité, la réactivité, le partage de connaissance entre les consultants et avec les clients, le transfert de savoir vers nos clients,  etc.). Cette université diffusera des formations produites par TALAN ou par ses partenaires sous forme de MOOCs (formation ouverte) ou sous formes de SPOCs (formation fermée à un groupe de personnes).
         <br/><img src="${static.url('themes/stanford/images/universite-digitale.png')}" class="align-center" alt="universite digitale"/>
           </li>
           <li>
           d’initier des <b>collaborations avec des universités et grandes écoles</b> françaises au travers du financement de thèses.
           </li>
         </ul>
         </p>
       
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## FAQ Section ##
    <section class="message left" id="group">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/memchu.jpg')}" alt="Stanford Memorial Church Facade" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>Le Groupe TALAN</h2>
       
       	<p>Fondée en 2002, Talan est une société de conseil et de services spécialisée dans la refonte des processus métiers et l'alignement du système d'information aux exigences de transformations permanentes des entreprises.       	</p>
       	
       	<p>Talan concentre son expertise sectorielle sur les Grands Opérateurs de Services et délivre ses savoir-faire métier, fonctionnel et technologique à l'échelle internationale à travers le partage de ses valeurs : transparence, respect, esprit d'équipe, esprit d'entreprendre et engagement.
       	</p>
       	
       	<p>Création et partage de la valeur, coaching et développement des compétences, attractivité des prestations, pilotage et maîtrise des activités sont les piliers du business model qui fait le parcours exceptionnel de Talan : une croissance organique supérieure à 30% chaque année.</p>
       	
       	<p>Pour plus d’information sur le groupe TALAN, retrouvez-nous sur le site <a href="http://www.talan.com" target="_blank">www.talan.com</a>
       	</p>
       
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## Careers Section ##
    <section class="message left" id="partenaire">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/tree-light.jpg')}" alt="Stanford Quad with Hoover Tower" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>Les partenaires</h2>
        <div class="partner">
       		<img src="${static.url('themes/stanford/images/bmooc.jpg')}" alt="B-mooc" />
	        <h3>Partenaire MOOC & Pédagogie</h3>
	        <p>
	        Pour assurer la réussite de la gestion de son université digitale, le groupe TALAN s’appuie sur la société B-MOOC Factory (<a href="http://www.b-mooc.com" target="_blank">www.b-mooc.com</a>), une branche de la société Homeb SARL, spécialisée dans :
	         </p>
		        <ul>
		        	<li>la conception, la fabrication et l’hébergement des MOOC</li>
		        	<li>l’animation des MOOCs</li>
		        	<li>l’élaboration de partenariat université – entreprise</li>
		        	<li>la mise en place de stratégie MOOC et de définition des business model MOOCs</li>
		        </ul>
	       
        <div>
        <hr/>
        <div class="partner">
        	<img src="${static.url('themes/stanford/images/edx.jpg')}" alt="EDX"/>
	        <h3>Partenaire LMS</h3>
	        <p>
	        Pour les formations en ligne, la plateforme utilisée par l’Université Talan, se base sur le code open source fourni par la communauté EDX.
	        </p>
        <div>
        <hr/>
        <div class="partner">
        	<img src="${static.url('themes/stanford/images/amazonwebservices.jpg')}" alt="Amazon Web Services" />
	        <h3>Partenaire Hébergement</h3>
	        <p>
	        La société Amazon Web Services héberge la plateforme et les MOOC de l’Université Talan.
	        </p>
        <div>
       </article>
      <hr class="fade-right-hr-divider">
    </section>


## Contact Section ##
    <section class="message left register" id="contact">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/dish.jpg')}" alt="Stanford Dish by Twilight" />
          <!-- Image Copyright owned by Stanford University -->
      </div>
      <article>
        <h2>Contact</h2>
        <p><strong>Vous pouvez prendre contact avec l'université Talan via le formulaire suivant :</strong><br /></p>
        <br/>
		
		 <form name="theform" action="/messageenvoye" method="post" id="theform" class="group group-form group-form-requiredinformation">
		 <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

                    
                    
                    <ol class="list-input">   
        
					 <li class="field-group" id="field-city">
			           <div class="field field-city text" id="field-city">
			            <label for="city">Nom *</label>
			            <input id="city" type="text" name="name" value="" required>
			           </div>
			          </li>
			           <li class="field-group" id="field-city">
			           <div class="field field-city text" id="field-city">
			            <label for="city">Email *</label>
			            <input id="city" type="email" name="email" value="" required>
			           </div>
			          </li>
			           <li class="field-group" id="field-city">
			           <div class="field field-city text" id="field-city">
			            <label for="city">Message *</label>
			           <textarea name="message" rows="7" cols="60" required></textarea>
						</div>
			          </li>
			          <li>
			          <div class="form-actions" style=" width: 130px; float: right; margin-right: 250px; ">
        <button name="submit" type="submit" id="submit" class="action action-primary action-update">Envoyer</button>
      </div>
			          </li>
			          </ol>
                   
                                </form>
		
      </article>
     <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
