{% load i18n %}{% load url from future %}{% autoescape off %}
Vous recevez cet e-mail parce que vous avez demandé une réinitialisation du mot de passe pour votre compte d'utilisateur sur UNIVERSITE TALAN.

Veuillez vous rendre sur la page suivante pour choisir nouveau mot de passe: 

{% block reset_link %}
http://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Si vous ne demandez pas ce changement, vous pouvez ignorer cet e-mail - nous avons pas encore réinitialiser votre mot de passe. 

L'équipe Pédagogique TALAN.
-----
Attention ceci est un email automatique, merci de ne pas y répondre.

{% endautoescape %}