## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

 
## TODO: this will eventually be moved to the Sass
 <%block name="navigation_logo">
    <img src="${static.url('themes/stanford/images/talan-logo-70.png')}" height="45" alt="Home Page" />
 </%block>
 
 ## When unauthenticated, only show the about page link
 <%block name="navigation_global_links">
   <li class="nav-global-01">
     <a href="${marketing_link('ABOUT')}">À propos</a>
     	<ul>
     	  <li><a href="${marketing_link('ABOUT')}#about">L'université TALAN</a></li>
     	  <li><a href="${marketing_link('ABOUT')}#group">Le Groupe TALAN</a></li>
     	  <li><a href="${marketing_link('ABOUT')}#partenaire">Les partenaires</a></li>
     	  <li><a href="${marketing_link('ABOUT')}#contact">Contact</a></li>
     	</ul>
     	
   </li>
 </%block>
 
 ## When authenticated, show both the about page and find courses
 <%block name="navigation_global_links_authenticated">
   <li class="nav-global-01">
     <a href="${marketing_link('ABOUT')}">À propos</a>
     	<ul>
     	  <li><a href="${marketing_link('ABOUT')}#about">L'université TALAN</a></li>
     	  <li><a href="${marketing_link('ABOUT')}#group">Le Groupe TALAN</a></li>
     	  <li><a href="${marketing_link('ABOUT')}#partenaire">Les partenaires</a></li>
     	  <li><a href="${marketing_link('ABOUT')}#contact">Contact</a></li>
     	</ul>
	<li class="nav-global-02">
     <a href="${marketing_link('COURSES')}">Les formations</a>
   </li>
  </%block>